#SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:13:ef:b6:09:de", NAME="wlan0" #abersailbot's card
#will's card
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="ac:a2:13:22:7e:d5", NAME="wlan0" 
# SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="24:05:0f:77:b3:fe", NAME="wlan1"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:13:ef:12:01:a0", NAME="wlan1"
