[Unit]
Description=Robotic Sailing Boat Daemon
After=network.target
Requires=gpsd.service
After=gpsd.service

[Service]
ExecStart=/usr/local/bin/boatd

[Install]
WantedBy=default.target
